@use 'variables' as *;
@use 'mixin' as *;

:root {
    @each $name, $value in $colors {
        --color-#{$name}: #{$value};
    }
    --transition-base: 0.3s ease;
}

/* scroll */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background-color: #B6B6B6;
}
*::-webkit-scrollbar-track {
    border-radius: 999px;
    background-color: #F5F5F5;
}
/* scroll - Firefox */
@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #B6B6B6 #F5F5F5;
    }
}

/* setting */
html, body {
    width: 100%;
    height: 100%;
}
.hide {display: none !important;}
.of-hidden {overflow: hidden !important;}
.no-drag {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
main {
    @include flex-col();
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding: 24px;
    margin: 0 auto;
    overflow: hidden;
}
.box-content {
    @include flex-col($gap: 24px 0);
    padding: 0 4px;
    flex: 1;
    overflow: auto;
}