$colors: (
    white: #FFF,
    base: #333,
    red: #E91D1D,
    gray: #F3F3F3,
    gray2: #E9ECEF,
    gray3: #BBB,
    gray4: #748182,
    black2: #111,
    black: #000,
    boxShadow: rgba(0, 0, 0, 0.1)
);